face_recognition
opencv-python
pillow
flask
gunicorn
flask_monitoringdashboard
quart
requests
pyOpenSSL
selenium
tensorflow
scipy
scikit-learn
scikit-image
opencv-python
h5py
matplotlib
Pillow
requests
psutil
facenet
