#video {
border: 1px solid black;
box-shadow: 2px 2px 3px black;
width:640px;
height:480px;
}

#photo {
border: 1px solid black;
box-shadow: 2px 2px 3px black;
width:640px;
height:480px;
}

#canvas {
display:none;
width:640px;
height:480px;
}

#my_img {
display:none;
}

.camera {
width: 660px;
display:inline-block;
float:left
}

.output {
width: 660px;
display:inline-block;
float:left
}

#startbutton {
display:block;
position:relative;
margin-left:auto;
margin-right:auto;
bottom:32px;
background-color: rgba(0, 150, 0, 0.5);
border: 1px solid rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
font-size: 14px;
font-family: "Lucida Grande", "Arial", sans-serif;
color: rgba(255, 255, 255, 1.0);
}

.contentarea {
font-size: 16px;
font-family: "Lucida Grande", "Arial", sans-serif;
width: 1400px;
}

#id_iframe {
float:left;
width:1280px;
}
