<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">
    <base target="_blank">
    <title>CRDC UCTG Face Analyze demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

<div id="container" class="col-md-12">

    <h1>
        Photo Capture Demo
    </h1>
    <p>
        Captured a png, upload for analysis.
        Based on <a href="https://webrtc.github.io/samples/">webrtc samples</a>
    </p>

    <form id="my_form" method=POST enctype=multipart/form-data action="{{ url_for('upload_image') }}" target="id_iframe">
        <div class="mb-3 col-md-4">

            <input id="CEC ID" type="text" class="form-control input-sm" name="cec_id" placeholder="CEC ID">

        </div>
        <div class="md-3 col-md-4">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" name="enable_face_plus" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
      <abbr title="Don't Enable this if any privacy concern" class="initialism">Enable Face++</abbr></span>
            </label>
        </div>
        <div class="camera">
            <video id="video" autoplay></video>
            <button id="startbutton">Take photo</button>
        </div>
        <canvas id="canvas">
        </canvas>
        <textarea id="my_img" name="photo"></textarea>
    </form>
    <iframe id="id_iframe" name="id_iframe">
    </iframe>


</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
